@use "../styles/index.scss";

body {
    background-color: white;
}

.Wrapper {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7vh;
    background-color: white;
    z-index: 2;
    .Title {
        font-size: 7vw;
        opacity: 0.7;
        font-family: "Roboto", sans-serif;
        letter-spacing: 3px;
        margin-bottom: 0px;
        margin-top: 10vh;
    }
    .Slogan {
        display: flex;
        margin-top: 0px;
        position: relative;
        top: -3vh;
        h3 {
            font-size: 1.5vw;
            opacity: 0.6;
        }
        .Confidence {
            color: index.$Light-secondary-color;
            margin-left: 7px;
            opacity: 1;
        }
    }
    .LearnMore {
        margin-top: 12vh;
        width: 20%;
        z-index: 2;
    }
    .ClientButton {
        margin-top: 3vh;
        z-index: 2;
    }

    .Switch {
        width: 35px;
        height: 35px;
    }

    .SphereWrapper {
        position: absolute;
        min-height: 100vh;
        min-width: 100vw;
        transform: rotate(0deg);
        /*
        animation: rotate 10s linear 0s infinite forwards;
        */
        z-index: 1;
    }
    .Sphere1 {
        position: absolute;
        right: 6vw;
    }
    .Sphere2 {
        position: absolute;
        left: 6vw;
        bottom: 10vw;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(179deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
